{% extends "demo/base.html" %}
{% block body %}
        <div id="content">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                </tr>
                {% for at in at_devices %}
                <tr>
                    <td>{{ at.name }}</td>
                    <td>{{ at.description }}</td>
                    <td>{{ at.location }}</td>
                </tr>
                {% endfor %}
            </table>
            <button value="add_device" onclick="window.location.href='add_device'">Add AT Device</button>
        </div>
{% endblock body %}